<div class="modal">
  <label for="modal-edit">
    <div id='empty-modal-trigger' class="modal-trigger"></div>
  </label>
  <input class="modal-state" id="modal-edit" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-edit">&#215</div>
      <div id='empty-modal-content' class='modal-content'></div>
    </div>
  </div>
</div>
