<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger"><%= modal_trigger %></div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1">&#215</div>
      <h1><%= modal_title %></h1>
      <%= render form %>
    </div>
  </div>
</div>
