<h1 class='page-header'>
  <span>
    Budget (<%= @total_items %>)
    <%= render partial: 'modal/show',
      locals: {
        form: @form_partial,
        modal_trigger: 'Create New +',
        modal_title: 'New Budget',
        modal_id: 'new',
        model: @form
      }
    %>
  </span>
</h1>

<%= render partial: 'table/show', locals: {
  columns: @columns,
  collection: @budgets
  }
%>
