.notice, .alert {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 275px;
  color: white;
  // @include display(flex);
  // @include align-items(center);
  // @include justify-content(center);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  text-align: center;
  display: none;
}

.notice { background: forestgreen; z-index: 9999;}
.alert { background: orangered; z-index: 9999 }
