@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'jquery-ui';
@import 'alerts';
@import 'expenses_new';
@import 'index';
@import 'nav';
@import 'jquery-ui/core';
@import 'jquery-ui/theme';
@import 'jquery-ui/datepicker';
@import 'modal';

.sliding-panel-content > ul {
  font-size: 0.9em;
  li > a {
    padding: 0.7em;
  }
  .logout {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

main.content {
  font-size: .8em;
}
