@import 'bourbon';
@import 'neat';
@import 'base/base';
@import 'jquery-ui';
@import 'c3';
@import 'selectize';
@import 'selectize.default';
@import 'alerts';
@import 'index';
@import 'nav';
@import 'jquery-ui/core';
@import 'jquery-ui/theme';
@import 'jquery-ui/datepicker';
@import 'dataTables/jquery.dataTables';
@import 'modal';
@import 'stats/show';
@import 'search_bar';
@import 'table/show';
@import 'form/show';
@import 'charts/styles';

.sliding-panel-content > ul {
  font-size: 0.9em;
  li > a {
    padding: 0.7em;
  }
  .logout {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

main.content {
  font-size: .8em;
}

.selectize-control {
  width: 200px;
  display: inline-flex;
}

label .selectize-control {
  width: 75px;
}

.page-header span .selectize-control {
  width: 80px;
}

.modal-content .selectize-control {
  width: 100%;
}
