@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'jquery-ui';
@import 'c3';
@import 'selectize';
@import 'selectize.default';
@import 'jquery-ui/core';
@import 'jquery-ui/theme';
@import 'jquery-ui/datepicker';
@import 'dataTables/jquery.dataTables';

.sliding-panel-content > ul {
  font-size: 0.9em;
  li > a {
    padding: 0.7em;
  }
  .logout {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

main.content {
  font-size: .8em;
}

.selectize-control {
  width: 100%;
  display: inline-flex;
}

label .selectize-control {
  width: 75px;
}

.page-header span .selectize-control {
  width: 80px;
}

.page-header .modal-content .selectize-control {
  width: 100%;
}

.page-header .modal-content .selectize-input {
  width: 100%;
}
