.delete, .update-btn, .update, .cancel {
  display: none;
  padding: 6px 0;
  font-size: large;
}

.edit {
  font-size: x-large;
}

tr {
  text-align: center;
  font-size: smaller;
}

td {
  padding: 0;
}

.date-column {
  @include media(max-width 400px) {
    display: none;
  }
}

.index-form {
  input, select, textarea {
    display: none;
    margin: 0;
  }
  .form-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  select {
    white-space: pre-line;
  }
}
