
<div class="stats">
  <ul>
    <li>
      <%= number_to_currency @total_expenses_this_month %>
      <span>This Month</span>
    </li>
    <li>
      <%= number_to_currency @total_expenses_last_month %>
      <span>Last Month</span>
    </li>
    <li>
      <%= number_to_currency @total_expenses %>
      <span>Displayed</span>
    </li>
  </ul>
  <%= render partial: 'expenses/search' %>
</div>


