
<div class="stats">
  <ul>
    <% @stats.keys.each do |k| %>
      <li>
        <%= @stats[k] %>
        <span><%= k %></span>
      </li>
    <% end %>
  </ul>
  <%# <% if @show_search %1> %>
  <%#   <%= render partial: 'expenses/search' %1> %>
  <%# <% end %1> %>
</div>


